body {
	background: #ffff;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#generate {
	position: relative;
	z-index: 20;
}

#app {
	display: grid;
	grid-auto-rows: minmax(150px, auto);
	/* grid-template-columns:  */
	height: 100vh;
	background: #f23557;
	color: #f0d43a;
	justify-content: center;
	grid-gap: 1em;
	font-size: 20px;
	font-family: 'Oswald', sans-serif;
}

.entry {
	background: rgba(59, 74, 107, 0.4);
}

label {
	display: block;
	font-size: 27px;
}
